<%- include('../partials/header') %>
<% console.log(scenes) %>
<% for (let scene of scenes) { %>
    <h4><%= scene.name %> <a href="/scenes/<%= scene._id %>"><button>View</button></a></h4> 
    <ul>
        <li><%= scene.description %></li>
    </ul>
    <br><br><br>
    <% } %>

<%- include('../partials/footer') %>
