<%- include('../partials/header') %>
<section class="scene">
<% for (let scene of scenes) { %>
    
        
        <a href="/scenes/<%= scene._id %>">
            <button class="scene-button">
            <div class="scene-div">
            <h3 class="scene-title"><%= scene.name %> </h4> 
                <h5><%= scene.description %></h5>
                <br><br><br>
            </button>
        </a>
    </div>
        
    <% } %>
</section>

<%- include('../partials/footer') %>
