<%- include('../partials/header') %>
<% for (let scene of scenes) { %>
<section class="scene">
        <h4 class="scene-title"><%= scene.name %> <a href="/scenes/<%= scene._id %>"><button>View</button></a></h4> 
        <h5><%= scene.description %></h5>
    <br><br><br>
</section>
    
    <% } %>

<%- include('../partials/footer') %>
