<%- include('../partials/header') %>
<% console.log(characters) %>
<% for (let character of characters) { %>
    <h4><%= character.name %> <a href="/characters/<%= character._id %>"><button>View</button></a></h4> 

        <h5><%= character.description %></h5>

    <br><br><br>
    <% } %>

<%- include('../partials/footer') %>
