<%- include('../partials/header') %>
<% console.log(scene) %>
<section></section>

<section>
    <div><%= scene.name %></div>
    <div><%= scene.affiliation %></div>
    <div><%= scene.description %></div>
    <div><%= scene.objects %></div>
    <div><%= scene.conditions %></div>
</section>

<section></section>

<%- include('../partials/footer') %>
