<%- include('../partials/header') %>
<% let motivations = character.motivations %>
<% let goals = character.goals %>
<% let affiliation = character.affiliation %>
<section class="show-character">
    <div class="description"><%= character.description %></div>
    <br><br>
    <div>Affiliation: <% for (let affil of affiliation) { %>
        <%= affil %> 
        <% } %>
    </div>

    <div>Motivations: <% for (let motive of motivations) { %>
            <%= motive %> 
            <% } %>
    </div>

<div>Goals:  <% for (let goal of goals) { %>
    <%= goal %>, 
    <% } %>
</div>
<form action="/characters/<%= character._id %>/edit" method="GET"><button type="submit">Edit</button></form>
</section>

<%- include('../partials/footer') %>
