<%- include('../partials/header') %>
<section></section>
<% let motivations = character.motivations %>
<% let goals = character.goals %>
<% let affiliation = character.affiliation %>
<section>
    <div><%= character.description %></div>

    <div>Affiliation: <% for (let affil of affiliation) { %>
        <%= affil %> 
        <% } %>
    </div>

    <div>Motivations: <% for (let motive of motivations) { %>
            <%= motive %> 
            <% } %>
    </div>

<div>Goals:  <% for (let goal of goals) { %>
    <%= goal %>, 
    <% } %>
</div>
</section>

<section></section>

<%- include('../partials/footer') %>
